@model IEnumerable<APYROPROJECTFINAL.Models.ClassroomDB>


@{
    Layout = "/Views/Shared/AdminLayout.cshtml";
}

@* <h3>Welcome</h3> *@


<style>
    body {
        margin: 0;
        padding: 0;
    }

    td, th {
        padding: 10px
    }

    .table {
        width: 120%;
        height: 400px;
        text-align: center;
        vertical-align: middle;
    }

/*     .btn {
        margin-top: -120px;
    } */

    .list {
        margin-top: -40px;
        display: flex;
        width: 120%;
        justify-content: end;
    }

    .custom-dropdown {
        width: 250px;
        height: 30px;
        background-color: #1A222B;
        color: white;
    }
</style>


<p>

    <a class="btn btn-success" style="margin-top:-120px" asp-controller="Admin" asp-action="Create">+Add Class</a>
</p>


<div class="col-md-12 mb-2 ">
    <div class="list">
        @using (Html.BeginForm("ActionName", "Admin", FormMethod.Post))
        {
            @Html.DropDownList("SelectedCategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, "Select Year", new { @class = "custom-dropdown" })
        }
    </div>
</div>



<div>
    <table class="table table-dark table-bordered  table-striped">
        <thead>
            <tr>
                @* <th>
                @Html.DisplayNameFor(model => model.Attendance_Option)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.ClassCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Educator_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendance_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendance_End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EducatorEmail)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*  <td>
                @Html.DisplayFor(modelItem => item.Attendance_Option)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Educator_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance_End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Days)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EducatorEmail)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.ClassID"><i class="fa-solid fa-pencil" style="color:white"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.ClassID"><i class="fa-solid fa-folder-open" style="color:white"></i></a> @* | *@
                        @* <a asp-action="Delete" asp-route-id="@item.ClassID"><i class="fa-solid fa-trash" style="color:white"></i></a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>