@page
@model EducatorRegisterModel

@{
    ViewData["Title"] = "EducatorRegister";
    Layout = "~/Areas/Identity/Pages/_AuthLayout2.cshtml";
}






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<!-- Modal -->
<div class="modal fade"
     id="exampleModalLong"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"
             style="background-color: #1a222b; color: white">
            <div class="modal-header w-100">
                <h4 class="modal-title text-center">Terms and Conditions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  ps-5 pe-5">
                <p>
                    This document represents the terms and conditions governing the
                    use of the APYRO attendance management system, which employs
                    facial recognition technology and was developed by researchers
                    from the University of Makati's Bachelor of Science Computer
                    Science Major in Social Computing IV-ACSSC, as well as users
                    (students and educators) from the same University Institution.
                    Please read the following document thoroughly.
                </p>

                <h5>1. Acceptance of Terms</h5>

                <p>
                    By accessing and using the System, you hereby acknowledge and
                    confirm your understanding and acceptance of the terms and
                    conditions outlined in this Agreement. If you do not concur with
                    any portion of this Agreement, it is incumbent upon you to refrain
                    from utilizing the System.
                </p>

                <h5>2. Utilization of Facial Recognition Data</h5>
                <p>
                    A. Data Collection: The System is designed to collect, retain, and
                    process facial recognition data, which encompasses facial images,
                    with the primary aim of monitoring attendance. Your use of the
                    System implies your consent to the gathering and processing of
                    your facial recognition data.
                </p>

                <p>
                    B. Data Security: We shall undertake reasonable measures to
                    safeguard the security and confidentiality of your facial
                    recognition data. Nonetheless, we cannot ensure absolute security,
                    and you recognize and assume the inherent risks associated with
                    data transmission over the Internet.
                </p>

                <h5>3. Privacy Policy</h5>

                <p>
                    Your engagement with the System is further governed by our Privacy
                    Policy, a comprehensive document accessible at [link to Privacy
                    Policy]. By utilizing the System, you explicitly grant your
                    consent to abide by the practices delineated within the Privacy
                    Policy
                </p>

                <h5>4. User Responsibilities</h5>

                <p>
                    You commit to employing the System in full compliance with all
                    pertinent statutory and regulatory provisions. The use of the
                    System for unlawful or unauthorized purposes is strictly
                    prohibited.
                </p>

                <h5>5. Accuracy of Facial Recognition</h5>

                <p>
                    Although we diligently endeavor to ensure the accuracy of our
                    facial recognition technology, absolute precision cannot be
                    guaranteed. It is incumbent upon you to verify your attendance
                    records and promptly report any anomalies or discrepancies.
                </p>

                <h5>6. Disclaimers</h5>

                <p>
                    A. No Warranty: The System is provided on an "as-is" and
                    "as-available" basis, without any expressed or implied warranties.
                </p>
                <p>
                    B. Limitation of Liability: We disclaim any responsibility for
                    direct, indirect, incidental, consequential, or punitive damages
                    that may arise from your utilization of the System.
                </p>
                <p>
                    C. Standards. The system will be implementing standards and
                    guidelines to be followed by the user in order to deliver more
                    precise and accurate results, this standards will be discussed
                    later on.
                </p>

                <h5>7. Transparency</h5>
                <p>
                    We retain the right to be transparent to all the users by
                    providing detailed information and descriptions of how the system
                    works and how it will be utilized.
                </p>

                <h5>8. Updates and Modifications</h5>

                <p>
                    We maintain the prerogative to revise or amend this Agreement at
                    our discretion and without advance notice. Your continued
                    utilization of the System subsequent to such modifications shall
                    signify your surrender to the altered terms
                </p>

                <h5>9. Contact Information</h5>

                <p>
                    The system will require each user to provide an active phone
                    number or email address in the mode of communication as it will be
                    used as a way to approach the user incase there are discrepancies
                    or problems in their accounts
                </p>
                <p>
                    Your use of our attendance management System attests to your
                    perusing and comprehending this Agreement and signifies your
                    consent to its binding terms.
                </p>

                <h4 class="text-center">DATA PRIVACY</h4>

                <h5>Data Collection and Usage</h5>

                <p>
                    A. We collect and process personal data, including full name,
                    email address, student ID number, as well as facial images for the
                    purpose of attendance tracking. We collect this data with your
                    consent, as provided when you register through the system called
                    APYRO.
                </p>

                <p>
                    B. We may use your data for the following purposes: <br />
                    ● Attendance tracking <br />
                    ● User identification <br />
                    ● System Dataset <br />
                    ● User Verification <br />
                    ● Data statistics
                </p>

                <h5>Data Security</h5>

                <p>
                    A. We implement reasonable security measures to safeguard your
                    personal data, including [mention encryption, access controls,
                    etc.].
                </p>

                <h5>Data Retention</h5>

                <p>
                    a. We will retain your personal data for as long as necessary to
                    fulfill the purposes for which it was collected unless a longer
                    retention period is required or permitted by law.
                </p>

                <h5>User Rights</h5>
                <p>A. You have the right to:</p>
                Access your personal data.
                <br />Rectify any inaccurate or incomplete data. <br />Request the
                deletion of your data (subject to legal restrictions). <br />Receive
                your data in a structured, commonly used format (data portability).

                <h5>Data Disclosure</h5>

                <p>
                    A. We may disclose your data under certain circumstances,
                    including when required by law or to protect our rights and safety
                    or those of others.
                </p>

                <h5>Data Breaches</h5>

                <p>
                    A. In the event of a data breach, we will promptly investigate and
                    notify affected users in accordance with applicable laws.
                </p>

                <h5>Updates and Notification</h5>

                <p>
                    A. We will notify users of changes to our data privacy policy
                    through website notification You are responsible for regularly
                    reviewing this policy for updates.
                </p>

                <h4 class="text-center">COOKIES POLICY</h4>

                <h5>Usage of Cookies:</h5>
                <p>
                    The app uses cookies to enhance user experience and store
                    preferences.
                </p>

                <h5>Remember Me Functionality:</h5>
                <p>
                    When the "Remember Me" option is selected during login, a
                    persistent cookie will be stored on the user's device, expiring
                    after two weeks to maintain the user's session for easier access.
                </p>

                <h5>Opt-Out Option:</h5>
                <p>
                    Users have the choice to opt-out or manage cookie settings via
                    their browser settings
                </p>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">
                    Done
                </button>
            </div>
        </div>
    </div>
</div>






<style>

    .widgetlim {
        background-color: #1A222B;
        color: white;
        margin-top: -50px;
        margin-bottom: 20px;
        margin-left: 20px
    }



    @@media only screen and (max-width: 767px) {
        .widgetlim {
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
        }
    }
</style>





<div class="row justify-content-center">
    <div class="col-md-4 justify-content-center">
     <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="widgetlim p-3 justify-content-center" >
          
                <header class="a1 justify-content-center" style="font-size: 25px"><b>Add Educator</b></header>
                @* <p style="font-size: 15px">Enter your following details to create an account.</p>
 *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="col d-flex ">
                    <div class="form-floating  mt-2">
                        <input asp-for="Input.FirstName" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Firstname" aria-required="true" />
                            <label asp-for="Input.FirstName"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>


                    <div class="form-floating mt-2 ms-2">
                        <input asp-for="Input.ContactNumber" class="form-control" style="background-color: #212529 ;color : white" autocomplete="ContactNumber" aria-required="true" />
                        <label asp-for="Input.ContactNumber">Middle Name</label>
                        <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
                    </div>


                    <div class="form-floating mt-2 ms-2">
                        <input asp-for="Input.LastName" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Lastname" aria-required="true" />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                </div>


                <div class="form-floating mt-2">
                    <input asp-for="Input.Email" class="form-control" style="background-color: #212529 ;color : white" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

        



                <div class="form-floating mt-2">
                    <input asp-for="Input.University" class="form-control" style="background-color: #212529 ;color : white" autocomplete="University" aria-required="true" />
                    <label asp-for="Input.University"></label>
                    <span asp-validation-for="Input.University" class="text-danger"></span>
                </div>



                <div class="form-floating mt-2">
                    <input asp-for="Input.IDnumber" class="form-control" style="background-color: #212529 ;color : white" autocomplete="ID" aria-required="true" />
                    <label asp-for="Input.IDnumber"></label>
                    <span asp-validation-for="Input.IDnumber" class="text-danger"></span>
                </div>


                <div class="form-floating mt-2">
                    <input asp-for="Input.Username" class="form-control" style="background-color: #212529 ;color : white"  autocomplete="Username" aria-required="true" />
                    <label asp-for="Input.Username"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
   

              

                <div class="col d-flex ms-1 mt-2">

                    <div class="form-floating">
                        <input asp-for="Input.Password" id="password"  class="form-control" style="background-color: #212529 ;color : white" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating ms-2">
                        <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" style="background-color: #212529 ;color : white" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                   

                </div>
                
 
                 


@* 
               <div class="form-check ms-2 mt-2">
                    <input class="form-check-input" type="checkbox" >
                    <label class="form-check-label" style="margin-top:-5px">
                        I agree with APyro
                        <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-link" style="margin-left:-10px">Terms and Conditions.</a>
                    </label>
               </div> *@

    



                <div class="btn-group d-flex justify-content-center align-items-center mt-3">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary " style="background-color: #0844F4">Save</button>
                </div>
                <a href="/Identity/Account/LoginAdmin" class="btn btn-link text-decoration-none fw-bold" style="font-size:20px">Cancel</a>
    
            @*    <div class="d-flex justify-content-center">
                    <p>Already have account? <a href="/Identity/Account/Login"> Log in</a></p>
               </div> *@


        </div>
        </form>
    </div>

</div>


<input id="password" type="text" />
<input id="confirmPassword" type="text" />
<button class="btn btn-secondary" id="generateBtn">
    Generate Password
</button>

<script>
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("confirmPassword");
    var generateBtn = document.getElementById("generateBtn");
    function generatePass() {
        let pass = "";
        let str = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        let str1 = "abcdefghijklmnopqrstuvwxyz";
        let special = "!#$%^&*";
        let numbers = "12345";

        for (let i = 1; i <= 4; i++) {
            let char = Math.floor(Math.random() * str.length + 1);

            pass += str.charAt(char);
        }
        for (let i = 1; i <= 4; i++) {
            let char = Math.floor(Math.random() * str1.length + 1);

            pass += str1.charAt(char);
        }
        for (let i = 1; i <= 3; i++) {
            let char = Math.floor(Math.random() * special.length + 1);

            pass += special.charAt(char);
        }

        for (let i = 1; i <= 3; i++) {
            let char = Math.floor(Math.random() * numbers.length + 1);

            pass += numbers.charAt(char);
        }

        return pass;
    }
    function changeValue() {
        let generatedPassword = generatePass();
        password.value = generatedPassword;
        confirmPassword.value = generatedPassword;
    }
    generateBtn.addEventListener("click", changeValue);
</script>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
















@*



<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="Firstname" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Lastname" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.ContactNumber" class="form-control" autocomplete="ContactNumber" aria-required="true" />
                <label asp-for="Input.ContactNumber"></label>
                <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.University" class="form-control" autocomplete="University" aria-required="true" />
                <label asp-for="Input.University"></label>
                <span asp-validation-for="Input.University" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.IDnumber" class="form-control" autocomplete="ID" aria-required="true" />
                <label asp-for="Input.IDnumber"></label>
                <span asp-validation-for="Input.IDnumber" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" autocomplete="Username" aria-required="true" />
                <label asp-for="Input.Username"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>


            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





*@











