@page
@model StudentRegisterModel
@{
    ViewData["Title"] = "StudentRegister";
    Layout = "~/Areas/Identity/Pages/_AuthLayout2.cshtml";
}



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



<style>

    .widgetlim {
        background-color: #1A222B ; 
        color:white ;  
        margin-bottom:20px;
        margin-left:20px
    }
   


    @@media only screen and (max-width: 767px) {
        .widgetlim {
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
        }
    }
</style>




<div class="main-con row justify-content-center">
    <div class="col-md-4 justify-content-center">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="widgetlim p-3 justify-content-center" >

                <header class="a1 justify-content-center" style="font-size: 25px"><b>Add Student</b></header>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="col d-flex ">
                    <div class="form-floating  mt-2">
                        <input asp-for="Input.FirstName" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Firstname" aria-required="true" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>



                    <div class="form-floating mt-2  ms-2">
                        <input asp-for="Input.ContactNumber" class="form-control" style="background-color: #212529 ;color : white" autocomplete="ContactNumber" aria-required="true" />
                        <label asp-for="Input.ContactNumber">Middle Name</label>
                        <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
                    </div>



                    <div class="form-floating mt-2 ms-2">
                        <input asp-for="Input.LastName" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Lastname" aria-required="true" />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                </div>






                <div class="form-floating mt-2">
                    <input asp-for="Input.Email" class="form-control" style="background-color: #212529 ;color : white" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>




                <div class="form-floating mt-2">
                    <input asp-for="Input.University" class="form-control" style="background-color: #212529 ;color : white" autocomplete="University" aria-required="true" />
                    <label asp-for="Input.University"></label>
                    <span asp-validation-for="Input.University" class="text-danger"></span>
                </div>



                <div class="form-floating mt-2">
                    <input asp-for="Input.IDnumber" class="form-control" style="background-color: #212529 ;color : white" autocomplete="ID" aria-required="true" />
                    <label asp-for="Input.IDnumber"></label>
                    <span asp-validation-for="Input.IDnumber" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Section" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Section" aria-required="true" />
                    <label asp-for="Input.Section"></label>
                    <span asp-validation-for="Input.Section" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2" style="display: none">
                    <input asp-for="Input.Username" value="student@gmail.com" class="form-control" style="background-color: #212529 ;color : white" autocomplete="Username" aria-required="true" />
                    <label asp-for="Input.Username"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>

                <div class="form-floating mt-2">
                    <input asp-for="Input.Password" id="password" class="form-control" style="background-color: #212529 ;color : white" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>




                <div class="col d-flex ms-1 mt-2">

                 

                    <div class="form-floating ms-2" style="display: none">
                        <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" style="background-color: #212529 ;color : white" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>


                </div>




                @* <div class="form-check ms-2 mt-2">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label" style="margin-top:-5px">
                        I agree with APyro
                        <a data-toggle="modal" data-target="#exampleModalLong" class="btn btn-link" style="margin-left:-10px">Terms and Conditions.</a>
                    </label>
                </div> *@

                <div class="btn-group d-flex justify-content-center align-items-center mt-3 mb-2 ">
                <p class="btn btn-secondary" id="generateBtn">
                    Generate Password
                </p>
                </div>


                <div class="btn-group d-flex justify-content-center align-items-center mt-1 mb-2">
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary " style="background-color: #0844F4">Save</button>
                </div>
                <div class="btn-group d-flex justify-content-center align-items-center mt-1 mb-2">
                    <a href="/Identity/Account/LoginStudent" class="btn btn-link text-decoration-none fw-bold" style="font-size:20px">Cancel</a>
                </div>


              @*   <div class="d-flex justify-content-center">
                    <p>Already have account? <a href="/Identity/Account/Login"> Log in</a></p>
                </div> *@

            </div>
        </form>
    </div>

</div>






<script>
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("confirmPassword");
    var generateBtn = document.getElementById("generateBtn");
    function generatePass() {
        let pass = "";
        let str = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        let str1 = "abcdefghijklmnopqrstuvwxyz";
        let special = "!#$%^&*";
        let numbers = "12345";

        for (let i = 1; i <= 4; i++) {
            let char = Math.floor(Math.random() * str.length + 1);

            pass += str.charAt(char);
        }
        for (let i = 1; i <= 4; i++) {
            let char = Math.floor(Math.random() * str1.length + 1);

            pass += str1.charAt(char);
        }
        for (let i = 1; i <= 3; i++) {
            let char = Math.floor(Math.random() * special.length + 1);

            pass += special.charAt(char);
        }

        for (let i = 1; i <= 3; i++) {
            let char = Math.floor(Math.random() * numbers.length + 1);

            pass += numbers.charAt(char);
        }

        return pass;
    }
    function changeValue() {
        let generatedPassword = generatePass();
        password.value = generatedPassword;
        confirmPassword.value = generatedPassword;
    }
    generateBtn.addEventListener("click", changeValue);
</script>









@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


























@*



<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="Firstname" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="Lastname" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.ContactNumber" class="form-control" autocomplete="ContactNumber" aria-required="true" />
                <label asp-for="Input.ContactNumber"></label>
                <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.University" class="form-control" autocomplete="University" aria-required="true" />
                <label asp-for="Input.University"></label>
                <span asp-validation-for="Input.University" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.IDnumber" class="form-control" autocomplete="ID" aria-required="true" />
                <label asp-for="Input.IDnumber"></label>
                <span asp-validation-for="Input.IDnumber" class="text-danger"></span>
            </div>


            <div class="form-floating">
                <input asp-for="Input.Section" class="form-control" autocomplete="Section" aria-required="true" />
                <label asp-for="Input.Section"></label>
                <span asp-validation-for="Input.Section" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Input.Username" class="form-control" autocomplete="Username" aria-required="true" />
                <label asp-for="Input.Username"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>


            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}






*@







@*


<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="Input.Firstname" class="form-control" autocomplete="firstname" aria-required="true" />
                        <label asp-for="Input.Firstname"></label>
                        <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        <input asp-for="Input.Lastname" class="form-control" autocomplete="lastname" aria-required="true" />
                        <label asp-for="Input.Lastname"></label>
                        <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                    </div>
                </div>

            </div>



            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}








*@

