@model IEnumerable<APYROPROJECTFINAL.Models.ClassroomDB>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EducatorDashboardLayout.cshtml";
}
@*
<h1>Educator's Classroom Overview</h1> *@

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@


<style>
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .a {
        flex: 1 0 30px;
        text-decoration: none !important;
    }

</style>

<table class="table table-dark table-bordered  table-striped" style="margin-top:-50px ;width:120%;height:400px;text-align:center;vertical-align:middle">
    <thead>
        <tr>
            @*           <th>
            @Html.DisplayNameFor(model => model.Attendance_Option)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ClassCode)
            </th>
            @*      <th>
            @Html.DisplayNameFor(model => model.Educator_Name)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducatorEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*          <td>
            @Html.DisplayFor(modelItem => item.Attendance_Option)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ClassCode)
                </td>
                @*            <td>
            @Html.DisplayFor(modelItem => item.Educator_Name)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance_Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance_End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducatorEmail)
                </td>
                <td class="btns text-center">
                    @*  <a asp-action="Edit" asp-route-id="@item.ClassID">Edit</a>*@
                    <a asp-action="ViewReports" asp-route-ClassCode="@item.ClassCode">View Report</a>
                    <a asp-action="ViewStudents" asp-route-ClassCode="@item.ClassCode">View Students</a>
                    @*  <a asp-action="Delete" asp-route-id="@item.ClassID">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
