@model IEnumerable<APYROPROJECTFINAL.Models.AttendanceReportData>


@{
    Layout = "~/Views/Shared/_EducatorDashboardLayout.cshtml";
}


<style>
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .a {
        flex: 1 0 30px;
        text-decoration: none !important;
    }

</style>




@{
    var groupedAttendance = Model.GroupBy(a => new { a.StudentTBL, a.StatusTBL })
                                  .Select(g => new { Student = g.Key.StudentTBL, Status = g.Key.StatusTBL, Count = g.Count(), StudentID = g.First().StudentIDTBL, AttendanceDate = g.First().AttendanceDateTBL })
                                  .ToList();
}

<table class="table table-dark table-bordered  table-striped" style="margin-top:-50px ;width:120%;height:400px;text-align:center;vertical-align:middle">
    <thead>
        <tr>
            <th>
                Student
            </th>
            <th>
                Student ID
            </th>
            <th>
                Session
            </th>
         @*    <th>
                Attendance Date
            </th> *@
          @*   <th>
                Status
            </th> *@
            <th>
                P
            </th>
            <th>
                L
            </th>
            <th>
                A
            </th>
            <th>
                Percentage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in groupedAttendance)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @ViewBag.ViewRecordsCount
                </td>


              @*   <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td> *@
                <td>
                    @if (item.Status == "Present")
                    {
                        @item.Count
                    }
                </td>
                <td>
                    @if (item.Status == "Late")
                    {
                        @item.Count
                    }
                </td>
                <td>
                    @if (item.Status == "Absent")
                    {
                        @item.Count
                    }
                </td>
                <td >
                  



                </td>

            </tr>
        }
    </tbody>
</table>
