@model IEnumerable<APYROPROJECTFINAL.Models.AttendanceReportData>


@{
    Layout = "~/Views/Shared/_EducatorDashboardLayout.cshtml";
}


<style>
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .a {
        flex: 1 0 30px;
        text-decoration: none !important;
    }

</style>




<table class="table table-dark table-bordered  table-striped" style="margin-top:-50px ;width:120%;height:400px;text-align:center;vertical-align:middle">
    <thead>
        <tr>
            @*           <th>
            @Html.DisplayNameFor(model => model.Attendance_Option)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.StudentTBL)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StudentIDTBL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttendanceDateTBL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusTBL)
            </th>
            <th>
               P
            </th>
            <th>
                L
            </th>
            <th>
                A
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                @*          <td>
            @Html.DisplayFor(modelItem => item.Attendance_Option)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.StudentTBL)
                </td>
                @*            <td>
            @Html.DisplayFor(modelItem => item.Educator_Name)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.StudentIDTBL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttendanceDateTBL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusTBL)
                </td>
                <td>
                   
                </td>
                <td>
                </td>
                <td>
                </td>
                <td class="btns text-center">
                </td>
            </tr>
        }
    </tbody>
</table>
