@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_MainHomePageLayout.cshtml";
}

<style>

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent horizontal scrollbar */
    }

    .main {
        position:relative;
        overflow: hidden;
        min-height: 100vh; /* Ensures the container fills the viewport height */
        color: white;
    }

    .logo-con{
        display: flex;
        align-items: center;
       
    }

    .logo-con img{
        width: 60%;
    }

    .nav-con{
        display: flex;
        width: 100%;
        margin-top: 3%;
        justify-content: space-evenly;
      
    }

    .nav-a-con{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        padding-left: 6%;
    }

    .nav-a-con a {
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 20px;
        
    }


    .slanted-white {
        position: fixed;
        bottom: -520px;
        left: 0;
        width: 100%;
        height: 500px; /* Automatically adjusts height based on content */
        background-color: white;
        transform-origin: bottom left;
        transform: skewY(-18deg); /* Adjust skew angle as needed */
        z-index: -1; /* Push the slanted white section below content */
    }

        /* Optional: Add gradient to the slanted area */
        .slanted-white:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px; /* Adjust gradient height as needed */
            background: linear-gradient(to top, rgba(26,34,43, 1), rgba(26,34,43, 1));
        }

        .body-con{
            position: relative; /* Ensure proper stacking */
            display: flex;
            width: 100%;
            z-index: 2; /* Ensure content is above slanted white section */
            
        }

        .btn-con{
            display:flex;
            flex-wrap: wrap;
            gap: 8px;
            width: 50%;
        }

        .btn-con a {
            flex: 1 0 30px;
        }

        .text-con {
            width: 50%;
        }

        .paragraph-con {
            margin-top: 5%; 
            width: 50%;
            justify-content: center;
        }

        @@media screen and (max-width: 768px) {
            .body-con{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img-div {
                display: none; /* Hide the image div */
            }

            .img-div img {
                display: none; /* Hide the image div */
            }

            .text-con{
                width: 80%;
            }

            .paragraph-con{
                width: 80%;
                font-size:.8em;
            }

            .btn-con{
                width: 80%;
            }
        }


    
</style>



<div class="main">
    <div class="body-con mt-5 col-md-12">
        <div class="col-md-6 d-flex flex-column align-items-center">
            <div class="row flex-column align-items-center"
                 style=" width: 100%;">
                <div class="text-con text-center">
                    <h1 style="font-size: 60px"><b>Welcome to </b> <br /><b style="color: #39A7FF">APyro</b></h1>
                </div>
                <div class="paragraph-con">
                    <p style="font-size: 24px">
                        "Empowering HyFlex Learning:
                        Modern Attendance Management for  Hybrid Education."
                    </p>
                </div>
                <div class="btn-con">
                    <a href="/Identity/Account/Login" class="btn" style="background-color:#0844F4; color: white; 
                                      border-radius: 10px">
                        Log in
                    </a>
                    <a href="/MainPage/Documentation" class="btn btn-outline-primary" style="color: white;
                                       border-radius: 10px">
                        Get Started
                    </a>
                </div>
            </div>

        </div>
        <div class="img-div col-md-6 d-flex flex-column justify-content-center align-items-center">
            <img src="~/photoroom.png" id="image" alt="" width="70%" style="margin-right: 15%" />
        </div>
    </div>

    <div class="slanted-white">


    </div>




</div>


@* <style>
    body {
        margin: 0;
        background-color: #242423;
        font-family: "Inter";
    }

    .flex-container {
        margin-left: -2%;
        height: 820px;
        width: 1720px;
        background: repeating-linear-gradient(168deg, #12161D 0px, #12161D 750px, #1A222B 280px, hsl(210,14%, 16%));
        border-left: white;
    }



    .container {
        margin-left: 0%;
        width: 100%
    }

    a {
        margin-left: 40px;
        text-decoration: none;
        color: white;
        font-size: 24px;
    }


    @@media only screen and (min-width: 768px) {
        .flex-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .col {
            width: 33.33%;
        }

            .col img {
                width: 100%;
                height: auto;
            }
    }

</style>


<div class="container">
    <section id="main">
        <div class="flex-container" style="color: white">
            <div class="col-md-12 d-flex" style="height: 250px; width: 100%;">
                <div class="d-flex justify-content-center align-items-center" style="width:30%;">
                    <img src="~/samplelogo 1.png" style="margin-left: 10%" />
                </div>

                <div class="col d-flex justify-content-center align-items-center" style="width:40%">
                    <a href="@Url.Action("Policies", "MainPage")">
                        Policies
                    </a>
                    <a href="@Url.Action("ContactUs", "MainPage")">
                        Contact Us
                    </a>
                    <a href="@Url.Action("Documentation", "MainPage")">
                        Documentation
                    </a>
                    <a href="@Url.Action("AboutUs", "MainPage")">
                        About Us
                    </a>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="width:30%; ">
                    <i class="fa-solid fa-circle-question fa-xl"></i>
                </div>

            </div>
            <div class="col-md-12 d-flex" style="width: 100%">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <div class="row flex-column align-items-center"
                         style=" width: 50%;">
                        <div class="text text-center" style="margin-left: 15%">
                            <h1 style="font-size: 60px"><b>Welcome to </b> <br /><b style="color: #39A7FF">APyro</b></h1>
                        </div>
                        <div style="margin-left: 15%; margin-top: 5%">
                            <p class="d-flex flex-column align-items-center"
                               style="font-size: 24px">
                                "Empowering HyFlex Learning: <br />
                                Modern Attendance Management
                                <br /> for  Hybrid Education."
                            </p>
                        </div>
                        <div class="col d-flex justify-content-between" style="margin-top: 7%">
                            <a href="/Identity/Account/Login" class="btn" style="background-color:#0844F4; color: white; width: 45%;
                                      border-radius: 10px">
                                Log in
                            </a>
                            <a href="@Url.Action("EducatorStudentSignUp", "MainPage")" class="btn btn-outline-primary" style="color: white; width: 45%;
                                       border-radius: 10px">
                                Sign up
                            </a>
                        </div>
                    </div>

                </div>
                <div id="img-div" class="col-md-6 d-flex flex-column align-items-center"
                     style="margin-top: -6%">
                    <img src="~/photoroom.png" id="image" alt="" width="70%" style="margin-right: 15%" />
                </div>
            </div>


        </div>
    </section>
</div>
 *@










 
 












@* 
<div style="position:absolute; width: 100vw; height: 100vh; ">
    <div class="row" style="position:relative">
        <div class="col-6" justify-content="center" style="position:relative">
            <div style="position:absolute; top: 38px; left: 33px; ">
                <img src="~/logo.png" style="width:90px; height:92.5px;" />
            </div>
            <div style="position: absolute; top: 44px; left: 134px;">
                <p style="color: #000; font-size: 20px; font-weight:700;"><b>APyro</b></p>
                <p style="color: #797979; margin-top:-20px;font-weight:700;">Attendance Pyro</p>
            </div>

            <div class="widget1 p-5" style="color:black">
                <img class="frame" style="margin-top:15px" src="~/Frame-1.png" />
                <h1 style="font-weight:700; font-size: 34px; margin-top: 30px">APyro</h1>
                <p> <span style="font-weight:600 ;font-size:18px">A smart attendance management</span> </p>
                <p class="mb-5" style="margin-top:-10px ;font-size:18px"><span style="font-weight:600 ">system</span> for Higher Education.</p>
                <div class="d-flex justify-content-evenly" style="margin-top: 10px">
                    <a href="/Identity/Account/Login" class="btn btn-success" style="background-color: #16BDB3; color: black; font-weight: bold; width: 100px;"><b>Log In</b></a>
                    <a href="@Url.Action("EducatorStudentSignUp", "MainPage")" class="btn btn-success" style="background-color: #16BDB3; color: black; font-weight: bold; width: 100px; margin-left: 50px"><b>Sign Up</b></a>
                </div>
            </div>
        </div>
        <div class="col-6" style="color:white">
            <div class="d-flex justify-content-evenly mt-5">
                <button type="button" class="btn btn-success mt-1" style=" width: 111px; height: 41px;">
                    FAQ
                </button>
                <button type="button" class="btn btn-success mt-1" style=" width: fit-content; height: 41px;
                    padding-left: 25px; padding-right: 25px ">
                    Documentation
                </button>
                <button type="button" class="btn btn-success mt-1" style=" width: 111px; height: 41px;">
                    About Us
                </button>
                <button type="button" class="btn btn-success mt-1" style=" width: 144px; height: 41px;">
                    Contact Us
                </button>


            </div>
            <div>
                <img src="~/big-logo.png" width="542px" height="674px" style="position: relative; left: 50%; top:80px; transform: translateX( -50%);" />
            </div>
        </div>
    </div>
</div>



 *@